#logo {
  height: 40px;
  width: auto;
}

body {
  background: url("../img/catbg.webp") center/cover no-repeat fixed;
}

#skills {
  background: url("../img/catbg.webp") center/cover no-repeat fixed;
}

.title-underlinee {
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  display: inline-block;
  padding: 5px;
}

.imgc {
  height: 100px;
  width: 120px;
  border-radius: 50%;
}
